# Generated automatically by update.sh
# Do no edit this file

FROM marnikow/scala:<scala-version>

Run wget -O- "https://piccolo.link/sbt-<sbt-version>.tgz" \
    |  tar xzf - -C /usr/local --strip-components=1 \
    && sbt exit

VOLUME /app
WORKDIR /app

CMD ["sbt"]
